<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="rot.pot.entities.mybatis.Movie" alias="Movie"/>
        <typeAlias type="rot.pot.entities.mybatis.Actor" alias="Actor"/>
        <typeAlias type="rot.pot.entities.mybatis.User" alias="User"/>
        <typeAlias type="rot.pot.entities.mybatis.Rating" alias="Rating"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="RotPotDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/ActorMapper.xml"/>
        <mapper resource="mybatis.xml/MovieMapper.xml"/>
        <mapper resource="mybatis.xml/UserMapper.xml"/>
        <mapper resource="mybatis.xml/RatingMapper.xml"/>
    </mappers>
</configuration>