<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rot.pot.persistence.mybatis.MovieMapper">

  <resultMap id="MovieResultMap" type="rot.pot.entities.mybatis.Movie">
    <id column="MOVIEID" property="movieid" />
    <result column="NAME" property="name" />
    <result column="RELEASEDATE" property="releasedate" />
    <collection property="ratings" ofType="rot.pot.entities.mybatis.Rating" column="MOVIEID" select="selectRatings"/>
  </resultMap>
  <resultMap id="RatingsResultMap" type="rot.pot.entities.mybatis.Rating">
    <id property="ratingid" column="RATINGID" />
    <result property="comment" column="COMMENT"/>
    <result property="rating" column="RATING"/>
    <result property="movieid" column="MOVIEID"/>
    <association property="user"  column="RATINGID" javaType="rot.pot.entities.mybatis.User" select="selectUser"/>
  </resultMap>
  <resultMap id="UserResultMap" type="rot.pot.entities.mybatis.User">
    <id property="userid" column="USERID" />
    <result property="dateofbirth" column="DATEOFBIRTH"/>
    <result property="firstname" column="FIRSTNAME"/>
    <result property="lastname" column="LASTNAME"/>
    <result property="password" column="PASSWORD"/>
    <result property="username" column="USERNAME"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 12 18:58:58 EEST 2021.
    -->
    delete from PUBLIC.MOVIE
    where MOVIEID = #{movieid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="MOVIEID" keyProperty="movieid" parameterType="rot.pot.entities.mybatis.Movie" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 12 18:58:58 EEST 2021.
    -->
    insert into PUBLIC.MOVIE (NAME, RELEASEDATE)
    values (#{name,jdbcType=VARCHAR}, #{releasedate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="rot.pot.entities.mybatis.Movie">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 12 18:58:58 EEST 2021.
    -->
    update PUBLIC.MOVIE
    set NAME = #{name,jdbcType=VARCHAR},
      RELEASEDATE = #{releasedate,jdbcType=TIMESTAMP}
    where MOVIEID = #{movieid,jdbcType=INTEGER}
  </update>
  <select id="selectMovie" parameterType="java.lang.Integer" resultMap="MovieResultMap">
    select
      PUBLIC.MOVIE.MOVIEID,
      PUBLIC.MOVIE.NAME,
      PUBLIC.MOVIE.RELEASEDATE from PUBLIC.MOVIE
    where PUBLIC.MOVIE.MOVIEID = #{movieid,jdbcType=INTEGER}
  </select>
  <select id="selectRatings" parameterType="java.lang.Integer" resultMap="RatingsResultMap">
    select RATINGID, COMMENT, RATING, MOVIEID, USERID from PUBLIC.RATING
    where MOVIEID = #{movieid, jdbcType=INTEGER}
  </select>
  <select id="selectUser" parameterType="java.lang.Integer" resultMap="UserResultMap">
    select USERID, DATEOFBIRTH, FIRSTNAME, LASTNAME, PASSWORD, USERNAME from PUBLIC.USER
    where USERID = (SELECT USERID from PUBLIC.RATING where RATINGID = #{ratingid,jdbcType=INTEGER})
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="MovieResultMap">
    select
      PUBLIC.MOVIE.MOVIEID,
      PUBLIC.MOVIE.NAME,
      PUBLIC.MOVIE.RELEASEDATE from PUBLIC.MOVIE
  </select>
  <select id="selectMovieActors" parameterType="java.lang.Integer" resultMap="rot.pot.persistence.mybatis.ActorMapper.BaseResultMap">
    select ACTORID, DATEOFBIRTH, FIRSTNAME, LASTNAME from PUBLIC.MOVIE as m
                              inner join PUBLIC.MOVIE_ACTOR as am on m.MOVIEID = am.MOVIE_MOVIEID
                              inner join PUBLIC.ACTOR as a on a.ACTORID = am.MOVIE_ACTORID
    where m.MOVIEID = #{movieid,jdbcType=INTEGER}
  </select>
</mapper>